.navigation__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Indie Flower', 'Arial', sans-serif;
  font-size: 32px;
  color: black;
  position: relative;
  transition: color .5s ease;
  z-index: 1;
}

.navigation__link:hover {
  cursor: pointer;
  color: white;
}

.navigation__link::before {
  content: "";
  border-bottom: 2px solid white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 100%;
  z-index: -1;
}

.navigation__link:hover::before {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.55s; 
}